<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" layout:decorate="~{fragments/main_layout}">
<head>
    <title>Ponto Eletrônico</title>
</head>
<body>
<div>
    <div layout:fragment="content">
        <div class="titulo-pagina">
            <div class="container text-center" style="font-size: 30px; color: green;">
                <strong>Folha de ponto</strong>
            </div>
        </div>
        <br/>
        <div class="container">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">Data</th>
                    <th scope="col" colspan="2">Turno 1</th>
                    <th scope="col" colspan="2">Turno 2</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="elemento : ${map}">
                    <td>
                        <span th:text="${elemento.key}"/>
                    </td>
                    <td th:each="lancamento : ${elemento.value}">
                        <span th:text="${#dates.format(lancamento.data, 'HH:mm')}"/>
                    </td>
                </tr>
                </tbody>

            </table>
        </div>
    </div>
</div>
</body>
</html>