<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" layout:decorate="~{fragments/main_layout}">
<head>
    <title>Ponto Eletrônico</title>
</head>
<body>
<div>
    <div layout:fragment="content">
        <div class="titulo-pagina">
            <div class="container text-center h2">
                <strong>Folha de ponto</strong>
            </div>
        </div>
        <br/>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">Data</th>
                    <th scope="col" colspan="2">Turno 1</th>
                    <th scope="col" colspan="2">Turno 2</th>
                    <th scope="col" colspan="2">Total</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="elemento,iter : ${map}">
                    <td>
                        <a style="text-decoration: none; color: #212529;" th:href="@{/api/lancamentos/lancamentos-data/{funcionarioId}/{data} (funcionarioId=${paramFuncionarioId},data=${paramData[iter.index]})}"><span th:text="${elemento.key}"/></a>
                    </td>
                    <td>
                        <span th:text="${elemento.value.turno1Horario1 != null ? elemento.value.turno1Horario1 : '-'}"/>
                    </td>
                    <td>
                        <span th:text="${elemento.value.turno1Horario2 != null ? elemento.value.turno1Horario2 : '-'}"/>
                    </td>
                    <td>
                        <span th:text="${elemento.value.turno2Horario1 != null ? elemento.value.turno2Horario1 : '-'}"/>
                    </td>
                    <td>
                        <span th:text="${elemento.value.turno2Horario2 != null ? elemento.value.turno2Horario2 : '-'}"/>
                    </td>
                    <td>
                        <span th:text="${elemento.value.horasDia != null ? elemento.value.horasDia : '-'}"/>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>