<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Ponto Eletrônico</title>
</head>
<body>
<div>
    <main role="main">
        <div class="titulo-pagina">
            <div class="container text-center" style="font-size: 18px">
                <strong>Ponto Eletrônico</strong>
            </div>
        </div>
        <br/>
        <div class="container">
            <p>Ponto cadastrado com sucesso!</p>
            <p th:text="${dataPonto}"/>
        </div>
    </main>
</div>
</body>
</html>