<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" layout:decorate="~{fragments/main_layout}">
<head>
    <title>Ponto Eletrônico</title>
</head>
<body>
<div>
    <div layout:fragment="content">
        <div class="titulo-pagina">
            <div class="container text-center" style="font-size: 60px; color: green;">
                <strong><i class="fas fa-check-circle"></i></strong>
            </div>
        </div>
        <br/>
        <div class="container">
            <p>Lançamentos editados com sucesso!</p>
        </div>
    </div>
</div>
</body>
</html>